.features {
  background-color: #35363e;
  color: $white;
  padding: 6rem 3rem;
}

.features__heading {
  font-size: 2rem;
}

.featureList {
  list-style-type: none;
  padding: 0;
  margin: 3rem 0 0;

  @media all and (min-width: 768px) {
    display: grid;
    grid-gap: 2rem 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

.feature {
  display: flex;
  margin-bottom: 2rem;

  @media all and (min-width: 768px) {
    margin-bottom: 1rem;
  }
}

.feature__icon {
  margin-right: 1rem;
}