.header {
  align-items: center;
  background-color: $blue;
  border: 0;
  display: flex;
  min-height: 55.95px;
  padding: 0.25rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.header__title {
  color: $white;
  font-size: 26px;

  &:visited {
    color: $white;
  }

  &:hover {
    color: $white;
    text-decoration: none;
  }
}
