.section__heading {
  font-size: 1.5rem;
  font-weight: bold;

  @media all and (min-width: 886px) {
    font-size: 2rem;
  }
}

.section__subheading {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.section__copy {
  font-size: 1.25rem;
  font-weight: 300;
}