.customer-appointments {
  width: 100%;
  margin-bottom: $customer-appointments-margin-bottom;
  overflow-y: auto;
  outline: none;
}

.customer-appointments .appointment-row {
  border-bottom: $customer-appointments-border-bottom-color solid $customer-appointments-border-bottom-width;
  border-radius: 3px;
  padding: $customer-appointments-padding;
}

.customer-appointments .appointment-row:last-child {
  border-bottom: none;
}

.patientRecordDisplay {
    list-style-type: none;
    padding-left: 0;

    ul {
        list-style-type: none;
    }

     li {
         font-weight: bold;
         padding: 0.2rem;
     }

    li span {
        font-weight: normal;
    }
}
