$green-dark: #004445;
$green: #279989;
$green-light: #9FD5B3;
$yellow: #feb70d;
$red: #cb4d4f;
$blue: #284ea0;
$blue-light: #4f7ad8;

$white: #ffffff;
$black: #000000;
$gray-light: #F2F2F2;
$gray: #DDDADA;
$gray-dark: #808080;